@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instagram+sans:wght@300;400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', 'Lato', sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b1b3b0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6305dd ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  #1b033b;
  transition: .1s ease;
}
body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: 'Instagram Sans' sans-serif;
  font-weight: bold;
}

#main-navigation {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  position: absolute;
  padding-bottom: 4px;
  flex-wrap: wrap;
  top: 0;
  left: 0;
}
@media screen and (max-width:480px) {
  #main-navigation{
    height: auto;
    padding-bottom: 5px;
  }
}
#main-navigation a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  font-weight: bold;
}

#main-navigation a:hover,
#main-navigation a:active {
  color: #cf79f1;
}
body{
  background-color:rgb(65, 62, 62);
}

#main-navigation h1 a:hover,
#main-navigation h1 a:active {
  color: white;
}
a{
  text-decoration: none;
}
.copyright{
  color: white;
}