#welcome {
    background: linear-gradient(to right top, #6305dd, #390281);
    padding: 6rem 12%;
  }
  
  #welcome header {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 3rem auto;
  }
  
  #welcome img {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    object-position: top;
    border: 5px solid white;
    border-radius: 12px;
    background-color: black;
    transform: rotateZ(-5deg);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #welcome h2 {
    font-size: 3.5rem;
    margin: 0 0 0 2rem;
    color: #e4e4e4;
    width: 10rem;
  }
  
  #welcome p {
    color: white;
    font-size: 1.5rem;
  }
  @media screen  and (max-width:555px){
    #welcome h2 {
      font-size: 2.5rem;
    }
  }
  
  body{
    background-color:#e4e4e4;
  }


/* .holder{
  display: flex;
  justify-content: space-around;
} */
  
  
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;
}


.post a {
  height: auto;
  transform-origin: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
  background-color: white;
  padding: 10px;
}
  
  
  #about {
    text-align: center;
    padding: 3rem;
    background: linear-gradient(to right top, #6305dd, #390281);
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items:center ;
  }
  
  #about h2 {
    font-size: 3rem;
    color: white;
    width: 100%;
  }
  
  #about p {
    font-size: 1.5rem;
    color: #fff;
  }
  .subscribe{
    margin-top: 40px;
  }
  .subscribe label{
    color: white;   
    line-height: 40px;
    font-size: 20px;
  }
  .subscribe input{
    background: transparent;
    border: 1px solid white;
    outline: none;
    padding: 4px;
    border-radius: 4px;
    color: white;
    opacity: 60%;
  }
  .subscribe  button{
    padding: 4px;
    border-radius: 4px;
    outline: none;
    border:1px solid #390281;
  }
  .subscribe  button:hover,
  .subscribe  button:active{
    background: #390281;
    color: white;
    border: 1px solid #ffe1bf;
  }
  .socials{
    width: 30%;
    background: white;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 4px;
    border-radius: 8px;
  }
  .socials a{
    color: #000;
  }
  .socials a:active,  .socials a:hover{
  color: #390281;
    border: 1px solid #ffe1bf;
  }
@media screen and (max-width:768px){
  .socials{
    width: 80%;
  }
}
